.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5b86b2;
    padding: 15px 20px;
    color: white;
  }
  
  .navbar-logo {
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .navbar-links li:hover {
    background-color: #34495e;
    transform: scale(1.05);
  }
  